@implements IDisposable

<div class="modal fade" id="@Id" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="@($"{Id}ModalLabel")" aria-describedby="@($"{Id}ModalContent")" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @if (EnableHeader)
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="@($"{Id}ModalLabel")">@Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@StartDismiss" @onclick:stopPropagation="true"></button>
                </div>
            }
            <div id="@($"{Id}ModalContent")" class="modal-body">
                @Content
            </div>
            @if (EnableFooter)
            {
                <div class="modal-footer">
                    @if (EnableDismissButton)
                    {
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@StartDismiss" @onclick:stopPropagation="true">@DismissText</button>
                    }
                    @if (EnableConfirmButton)
                    {
                        <button type="button" class="@ConfirmButtonClass" data-bs-dismiss="modal" @onclick="@StartConfirmation" @onclick:stopPropagation="true">@ConfirmtText</button>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    public IJSRuntime? JS { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString("N");

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string ConfirmtText { get; set; } = "Confirm";

    [Parameter]
    public string DismissText { get; set; } = "Close";

    [Parameter]
    public bool EnableConfirmButton { get; set; }

    [Parameter]
    public bool EnableDismissButton { get; set; }

    [Parameter]
    public bool EnableHeader { get; set; } = true;

    [Parameter]
    public bool EnableFooter { get; set; } = true;

    [Parameter]
    public string ConfirmButtonClass { get; set; } = "btn btn-primary";

    [Parameter]
    public RenderFragment? Content { get; set; }

    private static bool jsModuleImported = false;

    private ModalEventsJsHelper modalEventsJsHelper = new();
    private DotNetObjectReference<ModalEventsJsHelper>? modalEventsJsHelperRef;

    private IJSObjectReference? module;

    private bool userInteracted;
    private bool userHasConfirmed;

    public async Task<bool> ShowAsync()
    {
        if (module == null)
        {
            throw new InvalidOperationException("Module is not initialized.");
        };

        await module.InvokeVoidAsync("displayModal", Id);

        userInteracted = false;
        await WaitUserConfirmation();

        return userHasConfirmed;
    }

    public void Dispose()
    {
        modalEventsJsHelper.OnModalClosed -= ModalEventsJsHelper_OnModalClosed;
        modalEventsJsHelperRef?.Dispose();
    }

    protected override async Task OnInitializedAsync()
    {
        modalEventsJsHelper.OnModalClosed += ModalEventsJsHelper_OnModalClosed;
        if (JS == null)
        {
            throw new InvalidOperationException("JSRuntime is not initialized.");
        };

        // Imports the module only once because the module will be used across all modals component instances.
        if (!jsModuleImported)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/nich2408.Blazor.SimpleModal/modals.js");
        };
        if (module is null)
        {
            throw new InvalidOperationException("Module is not initialized.");
        };

        // Initializes the helper reference needed to make Javascript interop with dotnet.
        // More info: https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-dotnet-from-javascript?view=aspnetcore-8.0#pass-a-dotnetobjectreference-to-a-class-with-multiple-javascript-functions
        modalEventsJsHelperRef = DotNetObjectReference.Create(modalEventsJsHelper);
        await module.InvokeVoidAsync("initializeModalEvents", Id, modalEventsJsHelperRef);
    }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrWhiteSpace(Id))
        {
            throw new InvalidOperationException("Id is required.");
        };
        if (Content is null)
        {
            throw new InvalidOperationException("Content is required.");
        };
    }

    private async Task WaitUserConfirmation()
    {
        while (!userInteracted)
        {
            await Task.Delay(20);
        }
    }

    private void StartConfirmation()
    {
        userHasConfirmed = true;
    }

    private void StartDismiss()
    {
        userHasConfirmed = false;
    }

    private void ModalEventsJsHelper_OnModalClosed(object? sender, EventArgs eventArgs)
    {
        userInteracted = true;
    }
}
